[Unit]
Description=Rackattack Dashboard
After=network.target

[Service]
Type=simple
Environment='PYTHONPATH=/usr/share/rackattack-physical-dashboard/rackattack-physical-dashboard.egg'
ExecStart=/bin/sh -c "exec /usr/bin/python -m rackattack.dashboard.main --realtimewebuiRoot=/usr/share/rackattack-physical-dashboard/realtimewebui --dashboardRoot=/usr/share/rackattack-physical-dashboard --rackattackInstances='Bezeq:rackattack-provider.dc1,RainbowLab:10.16.104.1,TestSetup:10.0.1.117--localhostRackattackProvider'"

[Install]
WantedBy=multi-user.target
