{% extends "indexbase.html" %}

{% block rack %}
<h3> Rack02 </h3>
<table>
    <tr>
        <td class="machine" id="node-rack02-server49">
        </td>
        <td class="machine" id="node-rack02-server50">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack02-server51">
        </td>
        <td class="machine" id="node-rack02-server52">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack02-server53">
        </td>
        <td class="machine" id="node-rack02-server54">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack02-server55">
        </td>
        <td class="machine" id="node-rack02-server56">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack02-server57">
        </td>
        <td class="machine" id="node-rack02-server58">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack02-server59">
        </td>
        <td class="machine" id="node-rack02-server60">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack02-server61">
        </td>
        <td class="machine" id="node-rack02-server62">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack02-server63">
        </td>
        <td class="machine" id="node-rack02-server64">
        </td>
    </tr>
</table>

<h3> Rack03 </h3>
<table>
    <tr>
        <td class="machine" id="node-rack03-server37">
        </td>
        <td class="machine" id="node-rack03-server38">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack03-server39">
        </td>
        <td class="machine" id="node-rack03-server40">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack03-server41">
        </td>
        <td class="machine" id="node-rack03-server42">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack03-server43">
        </td>
        <td class="machine" id="node-rack03-server44">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack03-server45">
        </td>
        <td class="machine" id="node-rack03-server46">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack03-server47">
        </td>
        <td class="machine" id="node-rack03-server48">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack03-server49">
        </td>
        <td class="machine" id="node-rack03-server50">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack03-server51">
        </td>
        <td class="machine" id="node-rack03-server52">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack03-server53">
        </td>
        <td class="machine" id="node-rack03-server54">
        </td>
    </tr>
    <tr>
        <td class="machine" id="node-rack03-server55">
        </td>
        <td class="machine" id="node-rack03-server56">
        </td>
    </tr>
</table>
{% endblock %}
