{% extends "indexbase.html" %}

{% block rack %}
<div class="row">
    <div class="col-md-4">
        <h4> Rack01 </h4>
        <table>
            <tr>
                <td class="machine" id="node-rack01-server01">
                </td>
                <td class="machine" id="node-rack01-server02">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server03">
                </td>
                <td class="machine" id="node-rack01-server04">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server05">
                </td>
                <td class="machine" id="node-rack01-server06">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server07">
                </td>
                <td class="machine" id="node-rack01-server08">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server09">
                </td>
                <td class="machine" id="node-rack01-server10">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server11">
                </td>
                <td class="machine" id="node-rack01-server12">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server13">
                </td>
                <td class="machine" id="node-rack01-server14">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server15">
                </td>
                <td class="machine" id="node-rack01-server16">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server17">
                </td>
                <td class="machine" id="node-rack01-server18">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server19">
                </td>
                <td class="machine" id="node-rack01-server20">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server21">
                </td>
                <td class="machine" id="node-rack01-server22">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server23">
                </td>
                <td class="machine" id="node-rack01-server24">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server25">
                </td>
                <td class="machine" id="node-rack01-server26">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server27">
                </td>
                <td class="machine" id="node-rack01-server28">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server29">
                </td>
                <td class="machine" id="node-rack01-server30">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server31">
                </td>
                <td class="machine" id="node-rack01-server32">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server33">
                </td>
                <td class="machine" id="node-rack01-server34">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server35">
                </td>
                <td class="machine" id="node-rack01-server36">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server37">
                </td>
                <td class="machine" id="node-rack01-server38">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server39">
                </td>
                <td class="machine" id="node-rack01-server40">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server41">
                </td>
                <td class="machine" id="node-rack01-server42">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server43">
                </td>
                <td class="machine" id="node-rack01-server44">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server45">
                </td>
                <td class="machine" id="node-rack01-server46">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server47">
                </td>
                <td class="machine" id="node-rack01-server48">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server49">
                </td>
                <td class="machine" id="node-rack01-server50">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server51">
                </td>
                <td class="machine" id="node-rack01-server52">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server53">
                </td>
                <td class="machine" id="node-rack01-server54">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server55">
                </td>
                <td class="machine" id="node-rack01-server56">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server57">
                </td>
                <td class="machine" id="node-rack01-server58">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server59">
                </td>
                <td class="machine" id="node-rack01-server60">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server61">
                </td>
                <td class="machine" id="node-rack01-server62">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack01-server63">
                </td>
                <td class="machine" id="node-rack01-server64">
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-4">
        <h4> Rack02 </h4>
        <table>
            <tr>
                <td class="machine" id="node-rack02-server01">
                </td>
                <td class="machine" id="node-rack02-server02">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server03">
                </td>
                <td class="machine" id="node-rack02-server04">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server05">
                </td>
                <td class="machine" id="node-rack02-server06">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server07">
                </td>
                <td class="machine" id="node-rack02-server08">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server09">
                </td>
                <td class="machine" id="node-rack02-server10">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server11">
                </td>
                <td class="machine" id="node-rack02-server12">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server13">
                </td>
                <td class="machine" id="node-rack02-server14">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server15">
                </td>
                <td class="machine" id="node-rack02-server16">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server17">
                </td>
                <td class="machine" id="node-rack02-server18">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server19">
                </td>
                <td class="machine" id="node-rack02-server20">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server21">
                </td>
                <td class="machine" id="node-rack02-server22">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server23">
                </td>
                <td class="machine" id="node-rack02-server24">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server25">
                </td>
                <td class="machine" id="node-rack02-server26">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server27">
                </td>
                <td class="machine" id="node-rack02-server28">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server29">
                </td>
                <td class="machine" id="node-rack02-server30">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server31">
                </td>
                <td class="machine" id="node-rack02-server32">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server33">
                </td>
                <td class="machine" id="node-rack02-server34">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server35">
                </td>
                <td class="machine" id="node-rack02-server36">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server37">
                </td>
                <td class="machine" id="node-rack02-server38">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server39">
                </td>
                <td class="machine" id="node-rack02-server40">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server41">
                </td>
                <td class="machine" id="node-rack02-server42">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server43">
                </td>
                <td class="machine" id="node-rack02-server44">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server45">
                </td>
                <td class="machine" id="node-rack02-server46">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server47">
                </td>
                <td class="machine" id="node-rack02-server48">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server49">
                </td>
                <td class="machine" id="node-rack02-server50">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server51">
                </td>
                <td class="machine" id="node-rack02-server52">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server53">
                </td>
                <td class="machine" id="node-rack02-server54">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server55">
                </td>
                <td class="machine" id="node-rack02-server56">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server57">
                </td>
                <td class="machine" id="node-rack02-server58">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server59">
                </td>
                <td class="machine" id="node-rack02-server60">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server61">
                </td>
                <td class="machine" id="node-rack02-server62">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack02-server63">
                </td>
                <td class="machine" id="node-rack02-server64">
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-4">
        <h4> Rack03 </h4>
        <table>
            <tr>
                <td class="machine" id="node-rack03-server01">
                </td>
                <td class="machine" id="node-rack03-server02">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server03">
                </td>
                <td class="machine" id="node-rack03-server04">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server05">
                </td>
                <td class="machine" id="node-rack03-server06">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server07">
                </td>
                <td class="machine" id="node-rack03-server08">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server09">
                </td>
                <td class="machine" id="node-rack03-server10">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server11">
                </td>
                <td class="machine" id="node-rack03-server12">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server13">
                </td>
                <td class="machine" id="node-rack03-server14">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server15">
                </td>
                <td class="machine" id="node-rack03-server16">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server17">
                </td>
                <td class="machine" id="node-rack03-server18">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server19">
                </td>
                <td class="machine" id="node-rack03-server20">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server21">
                </td>
                <td class="machine" id="node-rack03-server22">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server23">
                </td>
                <td class="machine" id="node-rack03-server24">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server25">
                </td>
                <td class="machine" id="node-rack03-server26">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server27">
                </td>
                <td class="machine" id="node-rack03-server28">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server29">
                </td>
                <td class="machine" id="node-rack03-server30">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server31">
                </td>
                <td class="machine" id="node-rack03-server32">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server33">
                </td>
                <td class="machine" id="node-rack03-server34">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server35">
                </td>
                <td class="machine" id="node-rack03-server36">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server37">
                </td>
                <td class="machine" id="node-rack03-server38">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server39">
                </td>
                <td class="machine" id="node-rack03-server40">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server41">
                </td>
                <td class="machine" id="node-rack03-server42">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server43">
                </td>
                <td class="machine" id="node-rack03-server44">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server45">
                </td>
                <td class="machine" id="node-rack03-server46">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server47">
                </td>
                <td class="machine" id="node-rack03-server48">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server49">
                </td>
                <td class="machine" id="node-rack03-server50">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server51">
                </td>
                <td class="machine" id="node-rack03-server52">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server53">
                </td>
                <td class="machine" id="node-rack03-server54">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server55">
                </td>
                <td class="machine" id="node-rack03-server56">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server57">
                </td>
                <td class="machine" id="node-rack03-server58">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server59">
                </td>
                <td class="machine" id="node-rack03-server60">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server61">
                </td>
                <td class="machine" id="node-rack03-server62">
                </td>
            </tr>
            <tr>
                <td class="machine" id="node-rack03-server63">
                </td>
                <td class="machine" id="node-rack03-server64">
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
