.machine {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    text-align: center;
    padding: 1px;
    padding-bottom: 3px;
    margin: 0;
}

.machine-idle {
    background-color: white;
}

.node-when-allocation-is-hovered {
  animation: blinker 0.4s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  -webkit-animation: blinker 0.4s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
    from { background-color: white; }
    to { background-color: inherit; }
}

@-webkit-keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
}
.color-swatch {
    height: 24px;
    width: 24px;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    border-radius: 4px;
}
tr:hover .media-heading {
    font-weight: bold;
}

tr:hover td {
    background-color: #EEEEEE;
}

.hosts-list {
    max-height: 0;
    overflow: hidden;
    margin: 0;
}
tr:hover .hosts-list {
    max-height: 500px;
    transition: all 0.3s;
    margin-bottom: 5px;
}
.state-column {
    text-align: right;
}
.badge {
    vertical-align: middle;
}
.table > tbody > tr.allocation-row > td{
    padding: 4px;
}
.label-default-light {
    background-color: #b9b9b9;
}
.copy-command {
    width: 15px;
    height: 20px;
    overflow: hidden;
    margin-left: 5px;
    position: relative;
}
.clippy {
    opacity: 0;
    display: none;
}
tr:hover .clippy {
    display: block;
}
.connect-link {
    text-transform: uppercase;
    color: #337ab7;
    pointer-events:none;
    position: absolute;
    left: 0;
}
.connect-link:hover{
    text-decoration: underline;
}
label {
    font-weight: normal;
}
