.machine {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    text-align: center;
    padding: 2px;
    margin: 0;
}
.machine .label {
    display: block;
}

.machine-idle {
    background-color: white;
}

.node-when-allocation-is-hovered {
  animation: blinker 0.4s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  -webkit-animation: blinker 0.4s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
    from { background-color: white; }
    to { background-color: inherit; }
}

@-webkit-keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
}
.color-swatch {
    height: 24px;
    width: 24px;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    border-radius: 4px;
}
tr.hover .media-heading {
    font-weight: bold;
    color: black;
}

tr.hover td {
    background-color: #EEEEEE;
}

.hosts-list {
    max-height: 0;
    overflow: hidden;
    margin: 0;
}
tr.hover .hosts-list {
    max-height: 500px;
    transition: all 0.3s;
    margin-bottom: 5px;
}
.state-column {
    text-align: right;
}
.badge {
    vertical-align: middle;
}
.table > tbody > tr.allocation-row > td{
    padding: 4px;
}
.allocation-row .label {
    display: block;
}
.label-default-light {
    background-color: #b9b9b9;
}
.label-default-dark {
    background-color: black;
}
.label-dark-red {
    background-color: darkred;
}
.copy-command {
    width: 15px;
    height: 20px;
    overflow: hidden;
    margin-left: 5px;
    position: relative;
}

.connect-link {
    text-transform: uppercase;
    color: #337ab7;
    cursor: pointer;
    position: absolute;
    left: 0;
}
.rack-table {
    width: 100%;
}

label {
    font-weight: normal;
}
.badge-primary {
    background-color: #428bca;
}

.allocation-row .host-icon {
    display: inline;
}
.allocation-row .host-icon .glyphicon {
    font-size: 10px;
}
